/* colors:  mint green: #B8D9C6
            sage green: #9FBFA7 
            darker green:#81A684
            darker tan: #D9C3A9
            ligther tan: #F2E2CE */


            body {  
                display:flex;
                flex-direction: column;
                justify-content: center;
                padding-top: 25px;
                align-items: center;
                background-image: url("https://i.imgur.com/SD9f3Se.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                
                
            }
            
            .page-container{
                margin: 0 auto;
            }
            
            #container{
                display: flex;
                flex-direction: column;
                height: 85vh;
                justify-content: space-between;
            }
            
            .player1{
                display: flex;
                height: 600px;
                width: 500px;
                justify-content: space-between;
            }
            
            .computer-player{
                width: 200px;
                text-align: center;
                margin-bottom: 15px;
                text-transform: uppercase;
            }
            
            
            .pile{                 
                display:flex;  
                height:100%;
                width: 40%;
                border: 2px solid white;
                background-color: #D9C3A9;
                border-radius: 10px;
                align-items: center;
                justify-content: center ;
                font-size: 50px;
                /* box-shadow: 10px 10px; */
            }
            
            .computer-info,
            .player-two-info{
                display:flex;
                width: 500px;
                justify-content: space-between;
                padding-top: 10px;
            }
            
            .score,
            .score1{
                display:flex;
                text-align:center;
                font-family: 'Roboto', sans-serif;
            }
            
            .score{
                margin-right: 30px;
            }
            
            .score1{
                margin-right: 40px;
            }
            
            .player2{
                display: flex;
                height: 600px;
                width: 500px;
                justify-content: space-between;
            }
            
            .computer-player,
            .person{
                width: 200px;
                margin-bottom: 15px;
                text-transform: uppercase;
                font-family: 'Roboto', sans-serif;
            }
            
            .computer-player{
                margin-left: 4px;
            }
            
            .person{
                margin-left: 40px;
            }
            
            .button{
                display:flex;
                height: 300px;
                width: 500px;
                justify-content: center;
                align-items: center;
                justify-content: space-between;
                margin-top: 20px;
            }
            
            .restart,
            .start-button {
                font-family:'Roboto', sans-serif;
                height: 40%;
                width: 40%;
                padding: 1rem;
                background-color: #D9C3A9;
                border: 3px solid white;
                border-radius: 10px;
                box-shadow: 0 9px #999;
                
            }
            
            .start-button:hover{background-color: #D99CB2}
            .restart:hover {background-color: #D99CB2}
            
            .start-button:active {
                background-color:#D99CB2;
                box-shadow: 0 5px #8C3565;
                transform: translateY(4px);
            }
            
            .restart:active {
                background-color: #D99CB2;
                box-shadow: 0 5px #8C3565;
                transform: translateY(4px);
            }
            
            .deck {
                height:100%;
                width: 40%;
                border: 2px solid white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 35px;
                border-radius: 10px;
                background: #9FBFA7;
                
            }
            
            .player2-deck {
                grid-column: span 2; 
                grid-row: span 3;
                width: 40%;
                height: 100%;
                cursor: pointer;
            }
            
            .text-container{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 500px;
                height: 300px;
            }
            
            .declare-game-winner1, .declare-game-winner2{
                font-family:'Roboto', sans-serif;
                width: 500px;
                height: 50%;
                font-size: 40px;
                text-align: center;
                text-transform: uppercase;
                color:black;
                align-items: center;
                justify-content: space-between;
            
            
            }
            
            
            .winner-one-text, .winner-two-text, .draw-text{
                font-family:'Roboto', sans-serif;
                width: 500px;
                height: 50%;
                font-size: 25px;
                text-align: center;
                text-transform: uppercase;
                color: black;
                align-items: center;
                justify-content: space-between;
            }

            .go-again{
                color: black;
            }

            .header-container{
                width: 500px;   
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
            }
            
            .header{
                font-family: 'Roboto', sans-serif;
                width: 500px;
                text-align: center;
                font-size: 35px;
                color: black;
            }
            
            
            .hide{
                display: none;
            }
            
            .hide-round{
                display:none;
            }
            
            .text {
                grid-column: span 2;
                justify-content:space-between;
                align-items: center;
                
            }