body {  
  
    display:flex;
    flex-direction: column;
    /* grid-template-columns: repeat(2, 160px);   */
         /* create grid of 2 columns for where the cards will go  */
    /* grid-template-rows: 224px 48px 224px 48px; */
    /* gap: 10px; */
    justify-content: center;
    padding-top: 25px;
    align-items: center;
 
    /* background-image: radial-gradient(gray, white) */
    
    
}

.page-container{
    margin: 0 auto;
  
}

#container{
display: flex;
flex-direction: column;
height: 85vh;
justify-content: space-between;

}

.player1{
    display: flex;
    height: 600px;
    width: 500px;
    justify-content: space-between;

}

.computer-player{
    width: 200px;
    text-align: center;
    margin-bottom: 15px;
    text-transform: uppercase;

    

}

/* .pile is the parent container for player2 cards that are flipped over. We can style .pile and it will affect how the cards look  */
.pile{                 
    display:flex;  
    height:100%;
    width: 40%;
    border: 1px solid;
    border-radius: 10px;
    align-items: center;
    justify-content: center ;
    font-size: 50px;
}

.computer-info,
.player-two-info{
    display:flex;
    width: 500px;
    justify-content: space-between;
    padding-top: 10px;


}

.score,
.score1{
    display:flex;
    text-align:center;
    margin-right: 40px;
   
}

/* .card-value{
    display: none;
} */

.player2{
    display: flex;
    height: 600px;
    width: 500px;
    justify-content: space-between;
}

.computer-player,
.person{
width: 200px;
margin-bottom: 15px;
text-transform: uppercase;
margin-left: 40px;

}



/* .player2-card-pile.pile {
    display: none;
} */


.button{
    display:flex;
    height: 300px;
    width: 500px;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.restart,
.start-button {
    /* grid-column: span 2 ; */
    height: 40%;
    width: 40%;
    padding: 1rem;
    background-color: lightgreen;
    border: 1px solid black;
    border-radius: 10px;
    
}
    
 
 
    




.deck {
    height:100%;
    width: 40%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    border-radius: 10px;
    background-image: linear-gradient(to right, lightblue, blue);
}

.player2-deck {
    grid-column: span 2; 
    grid-row: span 3;
    width: 40%;
    height: 100%
}

.text-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
 
}

.declare-game-winner1, .declare-game-winner2{
    width: 500px;
    height: 50%;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(0, 105, 128);
    align-items: center;
    justify-content: space-between;


}


.winner-one-text, .winner-two-text, .draw-text{
    width: 500px;
    height: 50%;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    color: purple;
    align-items: center;
    justify-content: space-between;

}

/* .winner-two-text{
    width: 500px;
    height: 50%;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    color: purple;
    align-items: center;
    justify-content: space-between;
} */



.go-again{
    color: black
}


.header-container{
 /* height: 300px;  */
 width: 500px;   
display: flex;
flex-direction: column;
/* height: 100vh; */
justify-content: space-between;
align-items: center;
}

.header{
    width: 500px;
    text-align: center;
    font-size: 30px;
    color: purple;
    /* background: -webkit-radial-gradient(pink, purple);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}


.hide{
    display: none;
}

.hide-round{
    display:none;
}

.text {
    grid-column: span 2;
    justify-content:space-between;
    align-items: center;
    

}

